body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: #090F2E;
}

.header-bar {
    position: absolute;
    top: 40px;
    height: 5px;
    width: 100%;
    background-color: crimson;
}

/* Button */
.round {
    max-width: 960px;
    margin-left:auto;
    margin-right:0;
}

.round a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 20px;
    background-color: #090F2E;
    color: crimson;
}

.round a p{
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.round a:hover {
    color: white;
}

.round .button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid crimson;
    transition: color .5s;
}

.round .button:before {
    content: "";
    position: absolute;
    background: crimson;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 0;
    left: -200%;
    transition: all .5s;
}

.round .button:hover:before {
    top: -30px;
    left: -30px;
}

/*Button end*/