@background-color: #FCFFFC;
@accent-color-light1: #248232;
@accent-color-light2: #2BA84A;
@accent-color-dark1: #2D3A3A;
@accent-color-dark2: #040F0F;

body {
    margin: 0;
    padding: 0;
    text-align: center;
    background: @background-color;
}

.header-bar {
    position: absolute;
    top: 40px;
    height: 5px;
    width: 100%;
    background-color: @accent-color-light1;
}

aside {
    height: 100%;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: -1;
}

/* Fonts */

.title {
    color: #248232;
    font-family: Helvetica;
    font-size: 48px;
}

.sub-title{
    color: #2BA84A;
    font-family: Helvetica;
    font-size: 36px;
}

/* Button */
.round {
    max-width: 960px;
    margin-left:auto;
    margin-right:0;
}

.round a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: Helvetica;
    font-size: 20px;
    background-color: @background-color;
    color: @accent-color-light1;
}

.round a p{
    margin: 0;
    position: absolute;
    width: 100%;
    text-align: center;
}

.round a:hover {
    color: white;
}

.round .button {
    display: inline-block;
    width: 130px;
    height: 40px;
    line-height: 40px;
    margin: 20px;
    position: relative;
    overflow: hidden;
    border: 2px solid @accent-color-light1;
    transition: color .5s;
}

.round .button:before {
    content: "";
    position: absolute;
    background: @accent-color-light2;
    height: 150px;
    width: 200px;
    border-radius: 50%;
    top: 0;
    left: -200%;
    transition: all .5s;
}

.round .button:hover:before {
    top: -30px;
    left: -30px;
}

/* Clippaths*/

.primary-clippath {
    height: 100%;
    width: 100%;
    background-color: @accent-color-light1;
    position: fixed;
    clip-path: polygon(0 9%, 5% 93%, 25% 100%, 0% 100%);
}

.secondary-clippath {
    height: 100%;
    width: 100%;
    background-color: @accent-color-light2;
    position: fixed;
    clip-path: polygon(0 9%, 5% 93%, 25% 100%, 9% 89%);
}