@background-color: #232323;
@accent-color-pink: rgb(221, 0, 255);
@accent-color-cyan: rgb(0, 141, 177);
@accent-color-white: #e4e4e4;
@accent-color-grey: #7a7a7a;
@accent-color-dark-grey: #2d3a3a;
@accent-color-dark-black: #0a0a0a;

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background: @background-color;
}

aside {
  height: 100%;

  .sidebar {
    height: 100%;
    width: 5px;
    margin-left: 20px;
    background: linear-gradient(
      to bottom,
      @accent-color-cyan,
      @accent-color-pink
    );
  }
}

header {
  height: 40px;
  width: 30%;
  background-color: #0a0a0a;
  display: flex;
  flex-direction: row;
  justify-content: left;

  .logo {
    height: 40px;
    width: 40px;
    margin-left: 20px;
  }

  .logo-text {
    display: inline;
    margin: auto 10px;
    color: @accent-color-cyan;
    font-family: Arial;
    font-weight: bold;
    justify-self: left;
  }
}

.navigation {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 25px;
  width: 100%;

  section {
    width: 100%;
    position: relative;
    height: 100vh;
    
    .section-title {
      position: relative;
      left: 30%;
      span::before {
        content: "";
        position: absolute;
        display: block;
        width: 25px;
        left: 0;
        height: 25px;
        border-radius: 25px;
      }
    }
    .section-title::before {
      content: "";
      position: absolute;
      display: block;
      width: 30%;
      left: -30%;
      height: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
    .components-section::before {
      background: linear-gradient(
        to right,
        mix(@accent-color-pink, @accent-color-cyan, 20%),
        mix(@accent-color-pink, @accent-color-cyan, 100%)
      );
    }
    .images-section::before {
      background: linear-gradient(
        to right,
        mix(@accent-color-pink, @accent-color-cyan, 40%),
        mix(@accent-color-pink, @accent-color-cyan, 100%)
      );
    }
    .video-section::before {
      background: linear-gradient(
        to right,
        mix(@accent-color-pink, @accent-color-cyan, 60%),
        mix(@accent-color-pink, @accent-color-cyan, 0)
      );
    }
    .build-lists-section::before {
      background: linear-gradient(
        to right,
        mix(@accent-color-pink, @accent-color-cyan, 80%),
        mix(@accent-color-pink, @accent-color-cyan, 0)
      );
    }
  }
}
